.jumbotron {
  background-image: url("../images/banner.jpg");
  opacity: 0.8;
  background-size: cover; /* responsive */
  color: rgb(250, 250, 234);
  margin-top: 50px;
}

.card-hotel {
  flex: l 250px;
  margin: 10px 5px;
  box-sizing: border-box;
  background-color: rgb(241, 237, 233);
  justify-content: space-between;
  flex-direction: column;
  min-height: 550px;
}

.card-hotel .card-body {
  min-height: 240px;
}

.btn-reserva {
  width: 100%;
  border-radius: 8px;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: rgb(1, 45, 87);
  color: rgb(239, 240, 222);
  margin-bottom: 10px;
  margin-top: 10px;
}

.padding-icon-right {
  padding-right: 10px;
}

.padding-icon-left {
  padding-left: 25px;
}

.col-ancho {
  min-width: 125px;
  width: 125px;
}

.text-color-banner {
  color:  rgb(29, 12, 6);
}

.background-oficial {
  background-color:  rgb(3, 14, 27);
}
