@azul: rgb(3, 14, 27);
@rojo: red;
@verde: green;
@amarillo: yellow;

.margenes(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-image: url("../images/banner.jpg");
    opacity: 0.8;
    background-size: cover;
    /* responsive */
    color: #fafaea;
    .margenes(50px, 0px)
  }
  
  .card-hotel {
    flex: l 250px;
    .margenes(10px, 5px);
    box-sizing: border-box;
    background-color: #f1ede9;
    justify-content: space-between;
    flex-direction: column;
    min-height: 550px;
  }
  
  .card-hotel .card-body {
    min-height: 240px;
  }
  
  .btn-reserva {
    width: 100%;
    border-radius: 8px;
  }
  
  footer {
    padding: 10px 10px 0 10px;
    background-color: azul;
    color: #eff0de;
    .margenes(10px, 10px)
  }
  
  .padding-icon-right {
    padding-right: 10px;
  }
  
  .padding-icon-left {
    padding-left: 25px;
  }
  
  .col-ancho {
    min-width: 125px;
    width: 125px;
  }
  
  .text-color-banner {
    color: #1d0c06;
  }
  
  .background-oficial {
    background-color: @azul;
  }
  