.jumbotron {
  background-image: url("../images/banner.jpg");
  opacity: 0.8;
  background-size: cover;
  /* responsive */
  color: #fafaea;
  margin-top: 50px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: l 250px;
  margin-top: 10px;
  margin-bottom: 5px;
  box-sizing: border-box;
  background-color: #f1ede9;
  justify-content: space-between;
  flex-direction: column;
  min-height: 550px;
}
.card-hotel .card-body {
  min-height: 240px;
}
.btn-reserva {
  width: 100%;
  border-radius: 8px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: azul;
  color: #eff0de;
  margin-top: 10px;
  margin-bottom: 10px;
}
.padding-icon-right {
  padding-right: 10px;
}
.padding-icon-left {
  padding-left: 25px;
}
.col-ancho {
  min-width: 125px;
  width: 125px;
}
.text-color-banner {
  color: #1d0c06;
}
.background-oficial {
  background-color: #030e1b;
}
