$azul: rgb(3, 14, 27);
$rojo: red;
$verde: green;
$amarillo: rgb(255, 255, 0);

@mixin margenes($top, $botton) {
    margin-top: $top;
    margin-bottom: $botton;
}

.jumbotron {
    background-image: url("../images/banner.jpg");
    opacity: 0.8;
    background-size: cover; /* responsive */
    color: rgb(250, 250, 234);
    @include margenes(50px, 0px);
  }
  
  .card-hotel {
    flex: l 250px;
    margin: 10px 5px;
    box-sizing: border-box;
    background-color: rgb(241, 237, 233);
    justify-content: space-between;
    flex-direction: column;
    min-height: 550px;
  }
  
  .card-hotel .card-body {
    min-height: 240px;
  }
  
  .btn-reserva {
    width: 100%;
    border-radius: 8px;
  }
  
  footer {
    padding: 10px 10px 0 10px;
    background-color: $azul;
    color: rgb(239, 240, 222);
    @include margenes(10px, 10px);
  }
  
  .padding-icon-right {
    padding-right: 10px;
  }
  
  .padding-icon-left {
    padding-left: 25px;
  }
  
  .col-ancho {
    min-width: 125px;
    width: 125px;
  }
  
  .text-color-banner {
    color:  rgb(29, 12, 6);
  }
  
  .background-oficial {
    background-color:  rgb(3, 14, 27);
  }
  